body { color: #727272; font: normal 14px 'Roboto', Arial, Helvetica, sans-serif; }
.header-max {background-color: #56943B;height: 44px;left: 0;padding: 8px 0;position: fixed;top: 0;width: 100%;z-index: 999;}
.hd-logo, .hd-left-1 { float: left; } 
.hd-logo {/* margin-top: -3px; */} 
.hd-right-1 { float: right; position: relative; z-index: 1; }
.lst-user-controls {margin-top: 2px; }
.lst-user-controls .user-noti, .lst-user-controls .user-message, .lst-user-controls .user-profile { color: #fff; display: inline-block; position: relative; z-index: 1; margin-left: 15px; vertical-align: middle;} 
.lst-user-controls .user-profile a { color: #fff; } 
.lst-user-controls .user-profile a span { font-size: 12px; } 
.lst-user-controls .user-noti { margin-left: 0; } 
.lst-user-controls .fa-bell, .lst-user-controls .fa-comment { font-size: 18px; color: #D1EAB5;}
.lst-user-controls a.active .fa-bell, .lst-user-controls a.active .fa-comment { color: #fff; }
.lst-user-controls .fa-circle { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; border: 2px solid #56943B; color: #ef4123; font-size: 10px; position: absolute; right: -4px; top: -4px; z-index: 5; width: 12px; height: 12px; background: #ef4123;}
.lst-user-controls .fa + .fa-circle:before {content: " "; }
.lst-user-controls #hd-user-caret-down {display: inline-block;padding-left: 5px;}
.lst-user-controls #hd-user-caret-down .fa-bars {font-size: 24px;color: #D1EAB5; -webkit-text-stroke: 1px #56943B; }
.lst-user-controls #hd-user-avatar img { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; border: 2px solid rgba(255, 255, 255, 0.3); display: inline-block; height: 30px; margin-right: 8px; width: 30px; }
.icon-search {margin-left: 15px;vertical-align: middle; margin-right: -5px;} 
.icon-search .fa-search {font-size: 20px; color: #D1EAB5; -webkit-text-stroke: 1px #56943B;} 

._clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
._clearfix { display: inline-block; } 
._clearfix { display: block; } 
.chat-container a:hover {text-decoration: none}
#app-chat-body {padding-top: 44px;}

/**
Login, Register, Forgot password form
*/

/* line 18, ../sass/main.scss */
.apollo {
    margin: 0 auto;
    max-width: 350px;
    margin: 20px auto;
    border: 12px solid rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 28, ../sass/main.scss */
.apollo .btn-signin {
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(top, white, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, white, #e6e6e6);
    background-image: -o-linear-gradient(top, white, #e6e6e6);
    background-image: linear-gradient(to bottom, white, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #CCC;
    border-color: #E6E6E6 #E6E6E6 #BFBFBF;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #B3B3B3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 50, ../sass/main.scss */
.apollo .control-group {
    margin-bottom: 0;
}
/* line 54, ../sass/main.scss */
.apollo .popover {
    width: 300px;
}
/* line 58, ../sass/main.scss */
.apollo strong {
    font-weight: 700;
}
/* line 63, ../sass/main.scss */
.apollo.register .apollo-register {
    display: block;
}
/* line 67, ../sass/main.scss */
.apollo.register .apollo-back {
    display: block;
}
/* line 71, ../sass/main.scss */
.apollo.register .apollo-login {
    display: none;
}
/* line 77, ../sass/main.scss */
.apollo.forgotten-password .apollo-forgotten-password {
    display: block;
}
/* line 81, ../sass/main.scss */
.apollo.forgotten-password .apollo-register {
    display: none;
}
/* line 85, ../sass/main.scss */
.apollo.forgotten-password .apollo-back {
    display: block;
}
/* line 89, ../sass/main.scss */
.apollo.forgotten-password .apollo-login {
    display: none;
}
/* line 94, ../sass/main.scss */
.apollo .apollo-login {
    max-width: 300px;
}
/* line 98, ../sass/main.scss */
.apollo .apollo-login .apollo-seperator:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 43%;
    border-bottom: 1px solid #cccccc;
}
/* line 107, ../sass/main.scss */
.apollo .apollo-login .apollo-seperator:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 43%;
    border-bottom: 1px solid #cccccc;
}
/* line 118, ../sass/main.scss */
.apollo .apollo-forgotten-password {
    max-width: 300px;
}
/* line 123, ../sass/main.scss */
.apollo .apollo-password-reset {
    max-width: 300px;
    text-align: center;
}
/* line 129, ../sass/main.scss */
.apollo .apollo-register {
    max-width: 300px;
}
/* line 134, ../sass/main.scss */
.apollo .apollo-register .apollo-seperator:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 36%;
    border-bottom: 1px solid #cccccc;
}
/* line 143, ../sass/main.scss */
.apollo .apollo-register .apollo-seperator:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 36%;
    border-bottom: 1px solid #cccccc;
}
/* line 154, ../sass/main.scss */
.apollo a {
    color: #444;
}
/* line 157, ../sass/main.scss */
.apollo a:hover {
    text-decoration: none;
    color: #000;
}
/* line 166, ../sass/main.scss */
.apollo.logged-in-facebook .btn-facebook,
.apollo.logged-in-facebook .apollo-seperator,
.apollo.logged-in-facebook input[type="text"] {
    display: none;
}
/* line 170, ../sass/main.scss */
.apollo.logged-in-facebook .apollo-register-account {
    display: none;
}
/* line 174, ../sass/main.scss */
.apollo.logged-in-facebook .apollo-change-account {
    display: block;
}
/* line 179, ../sass/main.scss */
.apollo .apollo-register-account {
    text-align: center;
    margin: 25px 0 0;
}
/* line 185, ../sass/main.scss */
.apollo .apollo-change-account,
.apollo .apollo-back {
    font-size: 12px;
    margin: 25px 0 0 0;
    text-align: center;
}

/* line 193, ../sass/main.scss */
.apollo-facebook {
    background: url(/images/loader.gif) no-repeat center center;
}

/* line 197, ../sass/main.scss */
.apollo-seperator {
    position: relative;
    display: block;
    margin: 0 0 20px 0;
    text-align: center;
    color: #666;
}

/* line 205, ../sass/main.scss */
.apollo-container {
    padding: 20px 30px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 215, ../sass/main.scss */
.apollo-container .apollo-logging-in,
.apollo-container .apollo-registering {
    text-align: center;
    display: none;
}
/* line 220, ../sass/main.scss */
.apollo-container .apollo-image {
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 150px;
    margin: 0 auto 40px auto;
    width: 150px;
    height: 150px;
    display: block;
    background: rgba(0, 0, 0, 0) url("/images/avatar.png") repeat scroll center top -15px;
}
/* line 231, ../sass/main.scss */
.apollo-container .btn-facebook {
    margin-bottom: 20px;
}
/* line 235, ../sass/main.scss */
.apollo-container form {
    padding: 0;
    margin: 0;
}
/* line 240, ../sass/main.scss */
.apollo-container form input[type="text"],
.apollo-container form input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
/* line 248, ../sass/main.scss */
.apollo-container .btn-facebook {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #586B93;
    background-image: -moz-linear-gradient(top, #7787a7, #586b93);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7787a7), to(#586b93));
    background-image: -webkit-linear-gradient(top, #7787a7, #586b93);
    background-image: -o-linear-gradient(top, #7787a7, #586b93);
    background-image: linear-gradient(to bottom, #7787a7, #586b93);
    background-repeat: repeat-x;
    border-color: #586B93;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7787A7', endColorstr='#586B93', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 270, ../sass/main.scss */
.apollo-container .btn-facebook:hover,
.apollo-container .btn-facebook:active,
.apollo-container .btn-facebook:focus,
.apollo-container .btn-facebook.active,
.apollo-container .btn-facebook.disabled,
.apollo-container .btn-facebook[disabled] {
    color: #FFFFFF;
    background-color: #586B93;
}
/* line 275, ../sass/main.scss */
.apollo-container .btn-primary {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2087BF;
    *background-color: #2087BF;
    background-image: -moz-linear-gradient(top, #279ad8, #2087bf);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#279ad8), to(#2087bf));
    background-image: -webkit-linear-gradient(top, #279ad8, #2087bf);
    background-image: -o-linear-gradient(top, #279ad8, #2087bf);
    background-image: linear-gradient(to bottom, #279ad8, #2087bf);
    background-repeat: repeat-x;
    border-color: #2087BF;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#279AD8', endColorstr='#2087BF', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 295, ../sass/main.scss */
.apollo-container .btn-primary:hover,
.apollo-container .btn-primary:active,
.apollo-container .btn-primary.active,
.apollo-container .btn-primary.disabled,
.apollo-container .btn-primary[disabled] {
    color: #FFFFFF;
    background-color: #2087BF;
    *background-color: #003bb3;
}
/* line 301, ../sass/main.scss */
.apollo-container textarea:focus, .apollo-container input[type="text"]:focus, .apollo-container input[type="password"]:focus, .apollo-container input[type="datetime"]:focus, .apollo-container input[type="datetime-local"]:focus, .apollo-container input[type="date"]:focus, .apollo-container input[type="month"]:focus, .apollo-container input[type="time"]:focus, .apollo-container input[type="week"]:focus, .apollo-container input[type="number"]:focus, .apollo-container input[type="email"]:focus, .apollo-container input[type="url"]:focus, .apollo-container input[type="search"]:focus, .apollo-container input[type="tel"]:focus, .apollo-container input[type="color"]:focus, .apollo-container .uneditable-input:focus {
    border-color: rgba(140, 168, 41, 0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(140, 168, 41, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(140, 168, 41, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(140, 168, 41, 0.6);
}

/* Demo Styles */
/* line 313, ../sass/main.scss */
#demo {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #fff;
    padding: 0 20px 8px 20px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid #e5e5e5;
    width: 272px;
}
/* line 325, ../sass/main.scss */
#demo form {
    margin-bottom: 15px;
}
/* line 329, ../sass/main.scss */
#demo .radio {
    padding-left: 20px;
    font-weight: 400;
}

/*TOP HEAD Chat*/
.tophead-chat { background-color: #192b11;  position: fixed; width: 100%; top: 44px; left: 0; z-index: 998; }
.SeeOlderMessages {background-color: #E7E7E7; border-radius: 0; outline: 0; border: 0; display: block; text-align: center; width: 100%; height: 40px; line-height: 42px; color: #599518; font-weight: bold;}
.wp-media .avata {height: 40px; width: 40px;}
.wp-media .avata img {width: 100%; height: 100%;} 
.tophead-chat .iconX {position: absolute; right: 10px; top: 10px}
.tophead-chat .iconX .fa {font-size: 24px; color: #fff;-webkit-text-stroke: 3px #192b11;} 

/*Section Chat box Right*/
.col-chat-view { }
.chatboxcontent {font-size: 13px; color: #333333;  overflow-y:auto; overflow-x:auto;  line-height: 1.3em; padding-bottom: 55px; padding-top: 10px}
.chatboxcontent .media { padding: 5px 10px; margin-top: 0;}
.chatboxcontent .avata { width: 40px; height: 40px; overflow: hidden; border-radius: 50%; margin: 5px auto;}
.chatboxcontent .avata img {width: 100%; height: 100%;}
.wp_avata {width: 60px; text-align: center;}
.wp_avata small {color: #94988F;  }
.chatboxcontent .panel-body {background-color: #d3f1b2;text-align: left; display: inline-block;}
.messages-left .media-body {text-align: left; overflow: visible; padding-right: 5px;}
.messages-right .media-body {text-align: right;overflow: visible; padding-left: 5px;}
.text-muted {display: block; margin-top: 10px;margin-bottom: 10px;}
.chatboxcontent .panel-body {line-height: 1.5em;padding: 12px; border-radius: 3px;font-size: 14px; position: relative;}
.chatboxcontent .messages-right .panel-body:after {position: absolute; top: 25px; right: -6px;font: normal normal normal 16px/1 FontAwesome; content: "\f054"; color: #d3f1b2;}
.chatboxcontent .messages-left  .panel-body:after {position: absolute; top: 25px; left: -6px;font: normal normal normal 16px/1 FontAwesome; content: "\f0d9"; color: #efefef;}
.chatboxcontent .messages-left .panel-body {background-color: #efefef}
.chatboxinput { position: fixed;bottom: 0; width: 100%; z-index: 998; -webkit-box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.2); -moz-box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.2); box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.2); }
.chatboxinput .wp-reply {padding: 0;  background-color: #fff;position: relative;}
.chatboxinput .form-control { width: 100%; resize: none; display: inline-block; vertical-align: top; outline: 0; border: 0; box-shadow: none; min-height: 50px;background-color: #fff;  color: #333; border-radius: 0; padding-top: 15px;padding-left: 20px;}
.chatboxinput .form-control::-webkit-input-placeholder {color: #333; }
.chatboxinput .form-control::-moz-placeholder {color: #333; }
.chatboxinput .form-control:-ms-input-placeholder {color: #333; }
.chatboxinput .form-control:focus {border: 0} 
.chatboxinput .btnReply { font-size: 16px; color: #599518; position: absolute; right: 22px; bottom: 14px}

/* Column List Contact Chat */
.chat-contacts { }
.chat-contacts li {border-color: #2e3033; } 
.chat-contacts li > a {display: block; padding: 0 15px;}
.chat-contacts li .contact-name {color: #333; font-weight: 500; font-size: 16px;}
.chat-contacts li a small { color: #b4b4b4; }
.chat-contacts .avata { width: 40px; height: 40px; overflow: hidden; border-radius: 50%;}
.chat-contacts .avata img { width: 100%; height: 100%;}
.chat-contacts .pull-left {padding-top: 15px; position: relative;}
.chat-contacts .media {overflow: visible;}
.chat-contacts .media-body  {border-top: 1px solid  #ececec ; padding: 15px 0; }
.chat-contacts .media-body > div {margin-bottom: 4px;}
.chat-contacts .media-body .time {float: right; font-size: 13px; color: #b4b4b4;  }
.chat-contacts>li.active>a, .chat-contacts>li >a:hover {background-color: #f2f2f2;text-decoration: none;}
.chat-contacts>li.active .media-body {border-color: #f2f2f2;}
.chat-contacts>li.active + li .media-body {border-top-color: #fff;}
 
/*CHAT CANDAIATE PAGE */    
.chat-contacts .comp-name { font-size: 16px; margin-top: 0; color: #333; font-weight: bold;}
.chat-contacts .job {color: #333; font-size: 12px; margin: 5px 0; display: block;}
.jpb-name { display: block;font-weight: bold; font-size: 15px; margin-top: 5px; color: #000}
.jpb-name:hover {color: #549435; text-decoration: none}
.contacts-cpn .avata {width: 45px; height: 45px;border: 1px solid  #ececec; position: relative;}
.contacts-cpn .avata img { width: 96%; height: 96%; margin: 0 auto; position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto;}
.tabinfo-cpn {padding: 15px 15px 15px 15px;}
.tabinfo-cpn h4 {font-size: 20px; color: #fff; margin: 0}
.tabinfo-cpn h5 {font-size: 14px;color: #C0C4Be; margin-bottom: 0;}
