<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="Duc Hong">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="images/icon.ico" />
    <link rel="stylesheet" href="css/style-bootstrap.css">
    <link rel="stylesheet" href="css/chat-candidate.css">
    <link rel="stylesheet" href="css/extra.css">

    <script src="react/react.js"></script>
    <script src="react/react-dom.js"></script>
    <script src="react/browser.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        currentLayout = '<%= userInfo.currentLayout%>';
        console.log(currentLayout);
    </script>

    <title>Project title</title>
    <style>
    </style>
</head>
<body>
<div id="app-chat-header"></div>
<div id="app-chat-body"></div>
<script type="text/babel" src="js/main/app.js"></script>
<script src="js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min"><\/script>')</script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/init-mobile.js"></script>
</body>
</html>

